/* .btn {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 42%;
    zoom: 1.5;
  } */

  span {
    display:inline;
  }
  span:after {
    content:"\a";
    white-space: pre;
  }
  
.modal_ViewLog {
    position: fixed;
    
    z-index: 1;
    width: 100%;
    height: 100%;
    
}

.modal_content {
    background-color: white;
    position: absolute;
    
    left: 20%;
    width: 50%;
    height: 80%;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
    flex: 1;
    overflow-y: scroll;
}

.close {
    color: Black;
    float: right;
}

.close:hover {
    color: cyan;
    cursor: pointer;
}
  

.FirstTab p,
.SecondTab p {
  font-size: 2rem;
  text-align: center;
}

/* Tab Navigation */
ul.nav {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39A2DB;
  border-radius: 2rem;
  @media (max-width: 768px) {
    width: 90%;
  }
}
ul.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
ul.nav li:nth-child(2) {
  border-radius: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
ul.nav li:hover {
  background: rgba(50, 224, 196, 0.15);
}
ul.nav li.active {
  background: #39A2DB;
}

/* Tab Container */
.Tabs {
  width: 80%;
  height: auto;
  min-height: 400px;
  background: #053742;
  margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem;
  color: #E8F0F2;
  border-radius: 2rem;
  @media (max-width: 769px) {
   padding: 2rem 0;
  }
 }

textarea {
  width: 100%;
}